{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate 'Add new vocabulary list' %}{% endblock %}
{% block content %}
<div class="row justify-content-center mt-4">
  <div class="col-md-5">
    <h4 class="mb-3">{% translate 'Add new vocabulary list' %}</h4>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">{% translate 'name' %}</label>
        <input type="text" name="name" class="form-control"
               placeholder="{% translate 'For example: HSK4, my vocabulary' %}" autofocus required>
      </div>
      <button type="submit" class="btn btn-primary">{% translate 'New' %}</button>
      <a href="{% url 'vocab_list_index' %}" class="btn btn-link">{% translate 'Cancel' %}</a>
    </form>
  </div>
</div>
{% endblock %}
